$system-code: '$$$-no-bizops-system-code-$$$'; // Required for Origami components.

@import '@financial-times/o-autocomplete/main';
@import '@financial-times/o-forms/main';

@include oAutocomplete();
@include oForms();
