{{#with instance}}
	<fieldset class="fieldset">
		{{> input-text
			labelText='Title'
			inputName='title'
			value=title
			errors=errors.title
			required=true
		}}
	</fieldset>

	{{#with theatre}}
		<fieldset class="fieldset">
			{{> fieldset-header text='Theatre'}}
			{{> input-text
				labelText='Name'
				inputName='theatre[name]'
				value=name
				errors=errors.name
				required=true
			}}
		</fieldset>
	{{/with}}

	<fieldset class="fieldset">
		{{> fieldset-header text='Cast'}}
		{{#if cast.length}}
			{{#each cast}}
				{{> input-text
					labelText='Cast member'
					inputName=(concat 'cast[' @index '][name]')
					value=name
					errors=errors.name
					removeFieldButton=true
				}}
				{{#if roles.length}}
					{{#each roles}}
						{{> input-text
							labelText='Role'
							inputName=(concat 'cast[' @../index '][roles][' @index '][name]')
							value=name
							errors=errors.name
							removeFieldButton=true
							nested=true
						}}
					{{/each}}
					{{> input-text
						labelText='Role'
						inputName=(concat 'cast[' @index '][roles][' roles.length '][name]')
						value=''
						errors=null
						lastInArray=true
						nested=true
					}}
				{{else}}
					{{> input-text
						labelText='Role'
						inputName=(concat 'cast[' @index '][roles][0][name]')
						value=''
						errors=null
						lastInArray=true
						nested=true
					}}
				{{/if}}
			{{/each}}
			{{> input-text
				labelText='Cast member'
				inputName=(concat 'cast[' cast.length '][name]')
				value=''
				errors=null
				lastInArray=true
			}}
			{{> input-text
				labelText='Role'
				inputName=(concat 'cast[' cast.length '][roles][0][name]')
				value=''
				errors=null
				lastInArray=true
				nested=true
			}}
		{{else}}
			{{> input-text
				labelText='Cast member'
				inputName='cast[0][name]'
				value=''
				errors=null
				lastInArray=true
			}}
			{{> input-text
				labelText='Role'
				inputName=(concat 'cast[0][roles][0][name]')
				value=''
				errors=null
				lastInArray=true
				nested=true
			}}
		{{/if}}
	</fieldset>
{{/with}}
