{{#with instance}}
	<fieldset class="fieldset">
		{{>input-text
			propertyName='title'
			value=title
			errors=errors.title
			required=true
		}}
	</fieldset>

	{{#with theatre}}
		<fieldset class="fieldset">
			{{>fieldset-header text='Theatre'}}
			{{>input-text
				propertyName='name'
				inputName='theatre[name]'
				value=name
				errors=errors.name
				required=true
			}}
		</fieldset>
	{{/with}}

	<fieldset class="fieldset">
		{{>fieldset-header text='Cast'}}
		{{#if cast.length}}
			{{#each cast}}
				{{>input-text
					propertyName='name'
					inputName=(concat 'cast[' @index '][name]')
					value=name
					errors=errors.name
					removeFieldButton=true
				}}
			{{/each}}
			{{>input-text
				propertyName='name'
				inputName=(concat 'cast[' cast.length '][name]')
				value=name
				errors=null
				lastInArray=true
			}}
		{{else}}
			{{>input-text
				propertyName='name'
				inputName='cast[0][name]'
				value=''
				errors=null
				lastInArray=true
			}}
		{{/if}}
	</fieldset>
{{/with}}
