{{#with instance}}
	{{#with theatre}}
		<div class="content-wrapper">
			{{> content-label text='Theatre'}}
			<div class="content">
				{{> instance-link}}
			</div>
		</div>
	{{/with}}

	{{#with playtext}}
		<div class="content-wrapper">
			{{> content-label text='Playtext'}}
			<div class="content">
				{{> instance-link}}
			</div>
		</div>
	{{/with}}

	{{#with cast}}
		<div class="content-wrapper">
			{{> content-label text='Cast'}}
			<div class="content">
				<ul class="list">
					{{#each this}}
						<li>
							{{> instance-link}} …
							<span class="role-text">
								{{join roles 'name'}}
							</span>
						</li>
					{{/each}}
				</ul>
			</div>
		</div>
	{{/with}}
{{/with}}
