<div class="field">
	<label
		for="{{#if instance}}{{model instance}}{{capitalise namingValue}}{{else}}{{namingValue}}{{/if}}"
		class="label mandatory"
	>
		{{~#if instance}}{{modelCapitalise instance}}{{else}}{{capitalise namingValue}}{{/if~}}
	</label>
	<input
		value="{{value}}"
		name="{{#if instance}}{{model instance}}{{capitalise namingValue}}{{else}}{{namingValue}}{{/if}}"
		type="text"
		maxlength="255"
		class="field__input{{#if errors}} field__input--has-error{{/if}}"
	/>
	{{#each errors}}
		<li class="field__error-description">
			{{~this~}}
		</li>
	{{/each}}
</div>
