<div class="field{{#if nested}} field--nested{{/if}}">
	<label
		for="{{inputName}}"
		class="field__label{{#if required}} field__label--required{{/if}}"
	>
		{{~labelText~}}
	</label>
	<input
		value="{{value}}"
		name="{{inputName}}"
		type="text"
		maxlength="1000"
		class="field__input{{#if errors}} field__input--has-error{{/if}}{{#if lastInArray}} field__input--duplicable{{/if}}"
	/>
	{{#if removeFieldButton}}
		<a href="" class="field__remover-button">X</a>
	{{/if}}
	{{#if errors.length}}
		<ul class="list">
			{{#each errors}}
				<li class="field__error-description">
					{{~this~}}
				</li>
			{{/each}}
		</ul>
	{{/if}}
</div>
