{{>title-text}}

<form method="post" action="{{page.formAction}}">
	<fieldset class="fieldset">
		<div class="field">
			{{#with production}}
				<label for="title" class="label mandatory">Title</label>
				<input value="{{title}}" name="title" type="text" maxlength="255"
					class="field__input{{#if errors.title}} field__input--has-error{{/if}}"
				/>
				{{#each errors.title}}
					<li class="field__error-description">{{this}}</li>
				{{/each}}
			{{/with}}
			{{#with theatre}}
				<label for="name" class="label mandatory">Name</label>
				<input value="{{name}}" name="name" type="text" maxlength="255"
					class="field__input{{#if errors.name}} field__input--has-error{{/if}}"
				/>
				{{#each errors.name}}
					<li class="field__error-description">{{this}}</li>
				{{/each}}
			{{/with}}
		</div>
	</fieldset>

	{{#with production.theatre}}
		<fieldset class="fieldset">
			<div class="field">
				<label for="{{modelLowerCase this}}_name" class="label mandatory">{{model this}}</label>
				<input value="{{name}}" name="{{modelLowerCase this}}_name" type="text" maxlength="255"
					class="field__input{{#if errors.name}} field__input--has-error{{/if}}"
				/>
				{{#each errors.name}}
					<li class="field__error-description">{{this}}</li>
				{{/each}}
			</div>
		</fieldset>
	{{/with}}

	{{#if production}}
		{{#with production}}
			{{>input-hidden-id}}
		{{/with}}
	{{/if}}
	{{#if theatre}}
		{{#with theatre}}
			{{>input-hidden-id}}
		{{/with}}
	{{/if}}
	<input type="hidden" name="pageTitleText" value="{{page.title}}">
	<input type="submit" value="{{page.submitValue}}" class="button">
</form>
