<h1 class='title-text'>{{page.title}}</h1>

<form method='post' action='{{page.formAction}}'>
	<fieldset class='fieldset'>
		<div class='form-item'>
			{{#with production}}
				<label for='title' class='label mandatory'>Title</label>
				<input value='{{title}}' name='title' type='text' maxlength='255'
					class='input text-input{{#if errors.title}} text-input--has-error{{/if}}'
				/>
				{{#each errors.title}}
					<li class='text-input__error-description'>{{this}}</li>
				{{/each}}
			{{/with}}

			<input type='hidden' name='id' value='{{production.id}}'>
			<input type='hidden' name='preEditedTitle' value='{{page.title}}'>
			<input type='submit' value='{{page.submitValue}}' class='button'>
		</div>
	</fieldset>
</form>
