<form method="post" action="{{page.formAction}}">
	<fieldset class="fieldset">
		{{#with production}}
			{{>input-text name='title' value=title errors=errors.title}}
		{{/with}}
		{{#with theatre}}
			{{>input-text name='name' value=name errors=errors.name}}
		{{/with}}
	</fieldset>

	{{#with production.theatre}}
		<fieldset class="fieldset">
			{{>input-text name='name' value=name errors=errors.name instance=this}}
		</fieldset>
	{{/with}}

	{{#if production}}
		{{#with production}}
			{{>input-hidden-id}}
		{{/with}}
	{{/if}}
	{{#if theatre}}
		{{#with theatre}}
			{{>input-hidden-id}}
		{{/with}}
	{{/if}}
	<input type="hidden" name="pageTitleText" value="{{page.title}}">
	<input type="submit" value="{{page.submitValue}}" class="button">
</form>
