<h1 class="title-text">{{page.title}}</h1>

{{#with production}}
	{{#with theatre}}
		{{>content-wrapper}}
			{{>content-label}}
			<div class="content">
				<a href="/{{modelRoute this}}/{{id}}">{{name}}</a>
			</div>
		</div>
	{{/with}}
	{{>edit-delete-buttons}}
{{/with}}

{{#with theatre}}
	{{#with productions}}
		{{>content-wrapper}}
			{{>content-label}}
			<div class="content">
				{{#each this}}
					<ul>
						<li>
							<a href="/{{modelRoute this}}/{{id}}">{{title}}</a>
						</li>
					</ul>
				{{/each}}
			</div>
		</div>
	{{/with}}
	{{>edit-delete-buttons}}
{{/with}}
