$html-bg-color: #F0F0F0;
$header-bg-color: #000000;
$header-text-color: #1975A3;
$header-text-color-hover: #3083AC;
$content-bg-color: #FFFFFF;
$theme-color: #006699;
$default-text-color: #404040;
$form-bg-color: #F8F8F8;
$button-bg-color: #E8E8E8;
$border-color: #949494;
$box-shadow-color: #D0D0D0;
$positive-color: #629632;
$negative-color: #FF3232;
