.footer {
	margin-top: 60px;
	height: 20px;
	background-color: black;
	border-radius: 0 0 3px 3px;
	font-weight: bold;
}

.footer-text {
	margin-top: 4px;
	padding: 0 10px;
	font-size: x-small;
	color: $header-color;
}

.footer-text-left {
	float: left;
}

.footer-text-right {
	float: right;
}
