.head-alert {
	margin: 5px;
	min-height: 15px;
}

.head-alert--success {
	color: $positive-color;
	font-weight: bold;
}

.head-alert--error {
	color: $negative-color;
	font-weight: bold;
}

.button-container {
	display: inline;
}

.button {
	margin-top: 40px;
	height: 22px;
	width: 170px;
	background-color: $button-bg-color;
	cursor: pointer;
}

.fieldset {
	margin-bottom: 20px;
	padding: 5px 10px 20px;
	background-color: $form-bg-color;
	border: $border-width solid $border-color;
	border-radius: 5px;
}

.field {
	margin-top: 10px;
}

.label {
	padding-left: 5px;
	display: table-cell;
	font-weight: bold;
}

.field__input {
	box-sizing: border-box;
	width: 100%;
}

.field__input--has-error {
	border-color: $negative-color;
}

.field__error-description {
	color: $negative-color;
}

.mandatory:after {
	content: ' *';
}
