.title-text {
	margin: 0 5px 20px 5px;
	padding-bottom: 0px;
	font-size: xx-large;
	color: $theme-color;
}

%italic-text {
	font-style: italic;
}

.note-text {
	@extend %italic-text;
	margin: 5px;
}

.role-text {
	@extend %italic-text;
}
