@import 'lib/shared-variables';
@import 'lib/color-variables';

@import 'normalize';

@import 'content';
@import 'footer';
@import 'form';
@import 'header';
@import 'nav';
@import 'page';
@import 'text';
