.o-autocomplete {
	width: 100%;

	.o-autocomplete__input {
		--clear-input-button-width: 25px;

		min-height: inherit;
		padding-left: 12px;
		padding-right: var(--clear-input-button-width);
		border-radius: 6px;
		font-family: inherit;
		font-size: medium;
		line-height: inherit;
		color: var(--default-text-color);
	}

	.o-autocomplete__menu {
		padding: 8px;
		border-radius: 6px;
		color: var(--default-text-color);
	}

	.o-autocomplete__menu-loading-container {
		top: calc(100% + 2px);
		border-radius: 6px;
	}

	.o-autocomplete__menu--overlay {
		top: calc(100% + 2px);
	}

	.o-autocomplete__option {
		font-size: medium;
	}

	.o-autocomplete__option:hover {
		background-color: var(--autocomplete-option-background-color-hover);
		border-color: var(--autocomplete-option-background-color-hover);
		color: var(--default-text-color);
	}

	.o-autocomplete__option--focused,
	.o-autocomplete__option--focused:hover {
		background-color: var(--autocomplete-selected-option-background-color);
		border-color: var(--autocomplete-selected-option-background-color);
		color: var(--autocomplete-selected-option-color);

		.o-autocomplete__option-suffix {
			color: var(--autocomplete-selected-option-color);
		}
	}

	.o-autocomplete__option-suffix {
		color: var(--autocomplete-option-suffix-color);
	}

	.o-autocomplete__option--no-results {
		background-color: inherit;
		color: inherit;
	}
}
